<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="author" content="ouuan">
  <meta name="description" content="A game to guess a target code's AST like Wordle with AST nodes as letters">
  <link rel="canonical" href="https://<%- host %>">
  <title>Codle | Wordle with AST nodes as letters</title>

  <link href="/index.xml" rel="feed" type="application/rss+xml" title="Codle Puzzles">
  <link href="/atom.xml" rel="feed" type="application/atom+xml" title="Codle Puzzles">

  <link rel="author" type="text/plain" href="/humans.txt" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

  <link rel="preload" as="fetch" crossorigin href="/tree-sitter.wasm">
  <link rel="preload" as="fetch" crossorigin href="/tree-sitter-cpp.wasm">
  <link rel="preload" as="fetch" crossorigin href="/statement/<%- puzzleId %>.html">
  <link rel="preload" as="fetch" crossorigin href="/targetCode/<%- puzzleId %>.txt">

  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">

  <meta property="og:title" content="Codle" />
  <meta property="og:description" content="A game to guess a target code's AST like Wordle with AST nodes as letters">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://<%- host %>" />
  <meta property="og:image" content="https://<%- host %>/images/og-image.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:updated_time" content="2022-04-02T16:26:00+0800" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@ouuan" />

  <script>
    if (!localStorage) {
      alert('You need to enable localStorage to play Codle.');
    }
  </script>
</head>

<body>
  <div id="app">
    Loading...
  </div>
  <noscript>You need to enable JavaScript to play Codle.</noscript>
</body>

</html>
